scrapli>=2020.07.04
scrapli_netconf>=2020.07.26
scrapli_community>=2020.08.08
nornir>=3.0.0,<4.0.0
nornir-utils>=0.1.0
textfsm>=1.1.0,<2.0.0
ntc_templates>=1.1.0,<2.0.0
genie>=20.2 ; sys_platform != "win32" and python_version < "3.9"
pyats>=20.2 ; sys_platform != "win32" and python_version < "3.9"
